*.*~
/java/createNetBeansProject/createdNetbeansProjects/Test/nbproject/private/
/java/createNetBeansProject/createdNetbeansProjects/TestMua/nbproject/private/
/java/createNetBeansProject/createdNetbeansProjects/Zard/nbproject/private/